[submodule "cepal-dashboard"]
	path = cepal-dashboard
	url = git@github.com:sistemasmarcelocastro/cepal-dashboard.git
	branch = main
[submodule "cepal-tdp"]
	path = cepal-tdp
	url = git@github.com:TobiasCarreira/cepal-tdp.git
	branch = main
